{% extends "salt/base.html" %}
{% import "salt/macros.jinja" as macros %}
{% block view %}
<div class="panel panel-default">
    <div class="panel-heading">List of keys</div>
    <div class="panel-body">
        <h4 style="color:green;">Accepted</h4>
        {{ macros.key_list(keys['accepted'])|safe }}
        <h4 style="color:red;">Denied</h4>
        {{ macros.key_list(keys['denied'])|safe }}
        <h4 style="color:orange">Rejected</h4>
        {{ macros.key_list(keys['rejected'])|safe }}
        <h4 style="color:blue">Preshared</h4>
        {{ macros.key_list(keys['pre'])|safe }}
    </div>
</div>
{% endblock %}
