{# Sidebar menu.

Required variables:
#}
<ul class="nav" id="side-menu">
    <li>
        <a href="#"><i class="fa fa-gears fa-fw"></i> Job viewer<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="{{ url_for('salt.job', jid=jid, action='list') }}">list fancy</a>
            </li>
            <li>
                <a href="{{ url_for('salt.job', jid=jid, action='raw') }}">list raw</a>
            </li>
            <li>
                <a href="{{ url_for('salt.job', jid=jid, action='full') }}">full</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href='#'><i class="fa fa-list fa-fw"></i> Jobs' list<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href={{ url_for('salt.jobs', action='list') }}><i class="fa fa-table fa-fw"></i> Jobs' list</a>
            </li>
            <li>
                <a href={{ url_for("salt.jobs", action='update') }}><i class="fa fa-refresh fa-fw"></i> Update JOBS</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#"><i class="fa fa-key fa-fw"></i> Key management<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href={{ url_for('salt.keys', action='list', key='') }}><i class="fa fa-list fa-fw"></i> Keys' list</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#"><i class="fa fa-cubes fa-fw"></i> Minion management<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href={{ url_for('salt.minions', action='list', key='') }}><i class="fa fa-table fa-fw"></i> Minions list</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#"><i class="fa fa-play-circle-o fa-fw"></i> Run commands<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="{{ url_for('salt.run') }}">Run command</a>
            </li>
            <!--li>
                <a href="#">Third Level <span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                </ul>
                <!-- /.nav-third-level -->
            </li--!>
        </ul>
        <!-- /.nav-second-level -->
    </li>
</ul>
