{% extends "salt/base.html" %}
{% import "salt/macros.jinja" as macros %}
{% block title %}Minions list{% endblock %}

{% block view %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Minion pillars</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Listing pillars of {{ minion }}
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <a href="{{ url_for('salt.minions', action=action, minion=minion, outformat='raw') }}">raw</a>
                <a href="{{ url_for('salt.minions', action=action, minion=minion, outformat='yaml') }}">yaml</a>
                <pre><code{% if outformat == 'yaml' %} class="language-yaml"{% endif %}>
{{ data }}
                </code></pre>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->

{% endblock %}

{% block customJS %}
{%- if outformat == 'yaml' %}
<script src="{{ url_for('static', filename='prism/prism.js') }}"></script>
{%- endif %}
{% endblock %}

{% block customcss %}
{%- if outformat == 'yaml' %}
<link href="{{ url_for('static', filename='prism/prism.css') }}" rel="stylesheet" />
{%- endif %}
{% endblock %}
