tr, td, th
{
    border: 1px solid black;
    border-collapse: collapse;
}
table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
}

pre {
    overflow: auto;
    max-height: 30em;
}

tr.header
{
    cursor: pointer;
}
.header .sign:after{
    content: "+";
    display: inline-block;      
}
.header.expand .sign:after{
    content: "-";
}
.correct font,
.correct pre {
    color: green;
}
.none font,
.none pre {
    color: #565051;
}
.failed font,
.failed pre {
    color: red;
}
